<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="17" label="Music production">
            <item label="REAPER"> <action name="Execute">
                <execute>reaper</execute>
            </action> </item>
            <item label="ALSA Scarlett2 Control Panel"> <action name="Execute">
                <execute>alsa-scarlett-gui</execute>
            </action> </item>
            <item label="Helvum"> <action name="Execute">
                <execute>helvum</execute>
            </action> </item>
            <item label="Volume Control"> <action name="Execute">
                <execute>pavucontrol</execute>
            </action> </item>
            <item label="Foot"> <action name="Execute">
                <execute>foot</execute>
            </action> </item>
            <item label="Thunar File Manager"> <action name="Execute">
                <execute>thunar</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <item label="Removable Drives and Media"> <action name="Execute">
                    <execute>thunar-volman-settings</execute>
                </action> </item>
                <item label="Thunar Preferences"> <action name="Execute">
                    <execute>thunar-settings</execute>
                </action> </item>
            </menu>
            <item label="btop++"> <action name="Execute">
                <execute>alacritty -e btop</execute>
            </action> </item>
            <item label="rtcqs"> <action name="Execute">
                <execute>rtcqs_gui</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="Flatseal"> <action name="Execute">
                <execute>flatpak run --branch=stable --arch=x86_64 --command=com.github.tchx84.Flatseal com.github.tchx84.Flatseal</execute>
            </action> </item>
            <item label="Fonts"> <action name="Execute">
                <execute>flatpak run --branch=stable --arch=x86_64 --command=gnome-font-viewer --file-forwarding org.gnome.font-viewer @@u</execute>
            </action> </item>
            <item label="Info"> <action name="Execute">
                <execute>alacritty -e info</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
